.fontenome {
    font-family: sans-serif;
    text-align: center;
}
.descricao {
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    left: 500px;
    bottom: 700px;
    
}
body {
    background-color: #E2DE84;
}
.resido{
    background-color: antiquewhite;
    color: black;
    border: solid black 1px;
    margin-right: 1428px;
}
.javascript{
    font-size: 20px;
}
.excel{
    font-size: 18px;
}
.photoshop{
    font-size: 16px;
}
.premiere{
    font-size: 14px;
}
.After-Effects{
    font-size: 12px;
}
.minha-foto {
    padding: 5px;
    background-color: red;
}
ol li:nth-child(odd) {
    background-color: green;
}