    /* estilo geral */
    body {
    background-color: #0d0d0d;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    }

    a {
    color: #fff;
    text-decoration: none;
    }

    h1, h2, h3, h4, h5, h6 {
    margin: 0;
    }

    /* estilo do cabeçalho */
    header {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
    }

    .fontenome {
    font-size: 48px;
    margin: 0;
    }

    /* estilo da seção de apresentação */
    section {
    padding: 50px 20px;
    text-align: center;
    }

    .minha-foto {
    border: 5px solid #fff;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
    }

    .descricao {
    font-size: 24px;
    margin: 0;
    }

    .resido {
    font-size: 24px;
    margin: 0;
    }

    /* estilo da lista de habilidades */
    .lista {
    padding: 50px 20px;
    text-align: center;
    }

    h2 {
    font-size: 36px;
    margin: 0;
    }

    ol {
    list-style: none;
    margin: 0;
    padding: 0;
    }

    .javascript::before {
    content: "\f3b9";
    font-family: "Font Awesome 5 Free";
    font-size: 24px;
    margin-right: 10px;
    color: #fff;
    }

    .excel::before {
    content: "\f1c3";
    font-family: "Font Awesome 5 Free";
    font-size: 24px;
    margin-right: 10px;
    color: #fff;
    }

    .photoshop::before {
    content: "\f53d";
    font-family: "Font Awesome 5 Free";
    font-size: 24px;
    margin-right: 10px;
    color: #fff;
    }

    .Premiere::before {
    content: "\f859";
    font-family: "Font Awesome 5 Free";
    font-size: 24px;
    margin-right: 10px;
    color: #fff;
    }

    .After-Effects::before {
    content: "\f53e";
    font-family: "Font Awesome 5 Free";
    font-size: 24px;
    margin-right: 10px;
    color: #fff;
    }

    /* estilo do rodapé */
    footer {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
    }

    footer p {
    margin: 0;
    }

    footer a {
    color: #d61f1f;
    }

    @media (max-width: 768px) {
        /* Estilos para dispositivos com largura máxima de 768px */
        body {
          font-size: 14px;
        }
        
        header {
          padding: 10px;
        }
        
        .fontenome {
          font-size: 36px;
        }
        
        .minha-foto {
          width: 100%;
          max-width: 300px;
        }
        
        .descricao {
          font-size: 18px;
        }
        
        .resido {
          font-size: 18px;
        }
        
        h2 {
          font-size: 24px;
        }
        
        .lista li:before {
          font-size: 18px;
        }
      }
      