.fontenome {
    font-family: sans-serif;
}
.descrição {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body {
    background-color: #E2DE84;
    text-align: center;
}
.resido{
    background-color: antiquewhite;
    color: black;
    border-radius: 200px;
    margin: 0;
}
.javascript{
    font-size: 20px;
}
.excel{
    font-size: 18px;
}
.photoshop{
    font-size: 16px;
}
.premiere{
    font-size: 14px;
}
.After-Effects{
    font-size: 12px;
}